/* Footer Styles */
.App-footer {
    background-color: #4b0082;
    color: white;
    padding: 40px 20px;
    text-align: left;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffd700;
  }
  
  .footer-section p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #ffd700;
    padding-top: 20px;
    text-align: center;
  }
  
  .footer-nav {
    margin-top: 10px;
  }
  
  .footer-nav .nav-link {
    color: #ffd700;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
  }
  
  .footer-nav .nav-link:hover {
    text-decoration: underline;
  }
  
  /* Responsive Footer Adjustments */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  
    .footer-section {
      margin-bottom: 20px;
    }
  }
  
  .location-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff; /* Button color */
    color: #fff; /* Text color */
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .location-button:hover {
    background-color: #0056b3; /* Hover effect */
  }
  