
  /* Social Media Icons */
.social-icons {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 170px;
    left: 10px;
  }
  
  .social-icons a {
    color: blueviolet;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }
  