
.App-header {
  max-width: 1500px; /* Adjust width as needed */
  margin: 0 auto; /* Centers the container */
  padding: 20px; /* Adds padding around the header */
  background-color: white; /* Ensures the background is white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  display: flex;
  flex-direction: column; /* Stacks logo and name vertically */
  align-items: center;
}
.App-link {
  color: #61dafb;
}

.Name {
color: black;
}

.Official-logo {
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Maintains aspect ratio */
  margin-top: 5%; /* Adds space above */
}


.Menu {
  color: rgb(144, 21, 21);
  }